.elementor-4778 .elementor-element.elementor-element-4b52fc0 {
  padding:90px 0px 90px 0px;
}
.elementor-4778 .elementor-element.elementor-element-41de8d6 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content:center;
  align-items:center;
}
.elementor-4778 .elementor-element.elementor-element-41de8d6:not(.elementor-motion-effects-element-type-background),
.elementor-4778 .elementor-element.elementor-element-41de8d6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color:#FFFFFF;
}
.elementor-4778 .elementor-element.elementor-element-41de8d6 {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4778 .elementor-element.elementor-element-41de8d6 > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4778 .elementor-element.elementor-element-1f599de:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-4778 .elementor-element.elementor-element-1f599de > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color:#0C5ADB;
}
.elementor-4778 .elementor-element.elementor-element-1f599de > .elementor-element-populated {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:50px 30px 128px 30px;
}
.elementor-4778 .elementor-element.elementor-element-1f599de > .elementor-element-populated > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4778 .elementor-element.elementor-element-9bb3c1d .icon-box-icon .icon i {
  color:#FFFFFF;
  font-size:45px;
}
.elementor-4778 .elementor-element.elementor-element-9bb3c1d .icon-box .icon-box-icon {
  margin:5px 0px 0px 0px;
}
.elementor-4778 .elementor-element.elementor-element-9bb3c1d .icon-box-content h2 {
  color:#FFFFFF;
  font-weight:600;
}
.elementor-4778 .elementor-element.elementor-element-9bb3c1d .icon-box-content p {
  color:#FFFFFF;
}
.elementor-4778 .elementor-element.elementor-element-9bb3c1d .icon-box {
  border-style:dashed;
  border-width:0px 0px 1px 0px;
  border-color:#FFFFFF99;
  padding:0px 0px 25px 0px;
}
.elementor-4778 .elementor-element.elementor-element-5168136 .icon-box-icon .icon i {
  color:#FFFFFF;
  font-size:45px;
}
.elementor-4778 .elementor-element.elementor-element-5168136 .icon-box .icon-box-icon {
  margin:5px 0px 0px 0px;
}
.elementor-4778 .elementor-element.elementor-element-5168136 .icon-box-content h2 {
  color:#FFFFFF;
  font-weight:600;
}
.elementor-4778 .elementor-element.elementor-element-5168136 .icon-box-content p {
  color:#FFFFFF;
}
.elementor-4778 .elementor-element.elementor-element-5168136 .icon-box {
  border-style:dashed;
  border-width:0px 0px 1px 0px;
  border-color:#FFFFFF99;
  padding:0px 0px 18px 0px;
}
.elementor-4778 .elementor-element.elementor-element-99e9dc0 .icon-box-icon .icon i {
  color:#FFFFFF;
  font-size:45px;
}
.elementor-4778 .elementor-element.elementor-element-99e9dc0 .icon-box .icon-box-icon {
  margin:5px 0px 0px 0px;
}
.elementor-4778 .elementor-element.elementor-element-99e9dc0 .icon-box-content h2 {
  color:#FFFFFF;
  font-weight:600;
}
.elementor-4778 .elementor-element.elementor-element-99e9dc0 .icon-box-content p {
  color:#FFFFFF;
}
.elementor-4778 .elementor-element.elementor-element-99e9dc0 .icon-box {
  border-style:dashed;
  border-width:0px 0px 1px 0px;
  border-color:#FFFFFF99;
  padding:0px 0px 25px 0px;
}
.elementor-4778 .elementor-element.elementor-element-0d8e7be .icon-box-icon .icon i {
  color:#FFFFFF;
  font-size:45px;
}
.elementor-4778 .elementor-element.elementor-element-0d8e7be .icon-box .icon-box-icon {
  margin:5px 0px 0px 0px;
}
.elementor-4778 .elementor-element.elementor-element-0d8e7be .icon-box-content h2 {
  color:#FFFFFF;
  font-weight:600;
}
.elementor-4778 .elementor-element.elementor-element-0d8e7be .icon-box-content p {
  color:#FFFFFF;
}
.elementor-4778 .elementor-element.elementor-element-0d8e7be .icon-box {
  border-style:dashed;
  border-width:0px 0px 1px 0px;
  border-color:#FFFFFF99;
  padding:0px 0px 25px 0px;
}
.elementor-4778 .elementor-element.elementor-element-58c4d14:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap,
.elementor-4778 .elementor-element.elementor-element-58c4d14 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color:#EFF2F7;
}
.elementor-4778 .elementor-element.elementor-element-58c4d14 > .elementor-element-populated {
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:0px 30px 0px 60px;
}
.elementor-4778 .elementor-element.elementor-element-58c4d14 > .elementor-element-populated > .elementor-background-overlay {
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4778 .elementor-element.elementor-element-eb372c7 iframe {
  height:350px;
}
@media(min-width:768px) {
  .elementor-4778 .elementor-element.elementor-element-1f599de {
    width:42%;
  }
  .elementor-4778 .elementor-element.elementor-element-58c4d14 {
    width:58%;
  }
}
@media(max-width:991px) and (min-width:768px) {
  .elementor-4778 .elementor-element.elementor-element-1f599de {
    width:100%;
  }
  .elementor-4778 .elementor-element.elementor-element-58c4d14 {
    width:100%;
  }
}
@media(max-width:991px) {
  .elementor-4778 .elementor-element.elementor-element-58c4d14 > .elementor-element-populated {
    padding:48px 10px 0px 10px;
  }
}
@media(max-width:767px) {
  .elementor-4778 .elementor-element.elementor-element-58c4d14 > .elementor-element-populated {
    padding:10px 10px 0px 10px;
  }
}
